Repository Team-Tea-Time/laravel-forum, pull requests merged in 2021-11, with the labels that each got.

#279 Cascading privacy
  src/Actions/MarkThreadsAsRead.php
  src/Http/Controllers/Api/BaseController.php
  src/Http/Controllers/Api/CategoryController.php
  src/Http/Controllers/Api/PostController.php
  src/Http/Controllers/Api/ThreadController.php
  src/Http/Controllers/Web/CategoryController.php
  src/Http/Controllers/Web/PostController.php
  src/Http/Controllers/Web/ThreadController.php
  src/Http/Requests/Bulk/DeletePosts.php
  src/Http/Requests/Bulk/DeleteThreads.php
  src/Http/Requests/Bulk/LockThreads.php
  src/Http/Requests/Bulk/MoveThreads.php
  src/Http/Requests/MarkThreadsAsRead.php
  src/Http/Requests/SearchPosts.php
  src/Models/Category.php
  src/Support/CategoryPrivacy.php
  src/Tests/Feature/Web/CategoryShowTest.php
  translations/de/categories.php
  translations/en/categories.php
  translations/es/categories.php
  translations/fr/categories.php
  translations/it/categories.php
  translations/nl/categories.php
  translations/pt-br/categories.php
  translations/ro/categories.php
  translations/ru/categories.php
  translations/sr/categories.php
  translations/sv/categories.php
  translations/th/categories.php
  translations/tr/categories.php
  views/category/modals/edit.blade.php
Labels: models, authorization, controllers

#280 Update doctrine/dbal
  composer.json
Labels: dependencies

#282 Fix inconsistencies in category and thread ability checks
  src/Http/Controllers/Web/CategoryController.php
  src/Policies/CategoryPolicy.php
  views/category/show.blade.php
  views/thread/partials/list.blade.php
  views/thread/show.blade.php
Labels: authorization

#284 add chinese language
  translations/zh/categories.php
  translations/zh/general.php
  translations/zh/posts.php
  translations/zh/threads.php
  translations/zh/validation.php
Labels: translations
